@-webkit-keyframes slider{
    0% { margin-left:0;}
    23% { margin-left:0;}
    33% { margin-left:-100%;}
    56% { margin-left:-100%;}
    66% { margin-left:-200%;}
    90% { margin-left:-200%;}
    100% {margin-left:0;}
}
html,body{
    margin:0;
    padding:0;
    overflow:hidden;
}
#banner{
    height:10rem;
    width:300%;
    background-color:red;
    -webkit-animation:slider 10s ease-out infinite;
}
#banner img{
    float:left;
}