html, body {
    overflow: hidden;
    height:100%;
    margin:0;
    padding:0;
}

ul {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
    list-style-type: none;
}

.main{
    height:100%;
    width:100%;
}
.main .left{
    width:200px;
    float: left;
    border-right:1px solid #eee;
    position:relative;
    height:97%;
}

.main .p-accordion{
    position: absolute;
    top: 0;
    bottom: 30px;
    width:100%;
}

.main .left .div_title {
    background-image: url('../images/opacity.png');
    width:50%;
    text-align: center;
    margin:10px auto;
    color:white;
    border-radius: 30px;
    padding:5px;
}
.main .left .div_img{
    text-align: center;
    width:100%;
}
.main .left .div_img img{
    height:50px;
    width:50px;
}

.main .right{
    margin-left: 200px;
}

.main .right .content{
}

.maincontent {
}

.form-table {
    width: 92%;
    margin: 0 auto;
}

.form-table td {
    height: 50px;
}

.datacontainer {
    float: left;
    table-layout: fixed;
}

.datacontainer  thead tr th {
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background-image: url('../images/admin/table_header.png');
    text-align: center;
    line-height: 12px;
}

.datacontainer .datalist tr td {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    text-align: center;
    font-size: 12px;
    height: 35px;
}

.datacontainer .datalist .plainText{
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding:5px 10px;
}

.datacontainer .datalist tr td div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
}

.datacontainer .datalist tr:hover {
    background-color: #ccc;
}

.datacontainer .datalist .some {
    width:350px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.controlmenu{
    position:absolute;
    bottom:0;
    left:0;
    background: url("../images/admin/controlmenu.gif") repeat-x;
    height:30px;
    width:100%;
    cursor:pointer;
}
.controlmenu .b-left{
    background: url('../images/admin/startbutton.gif')  0 0 no-repeat;
    width:10px;
    height:30px;
    margin-left:10px;
    float:left;
}
.controlmenu .b-center{
    background: url('../images/admin/startbutton.gif')  0 -60px repeat-x;
    width:70px;
    height:30px;
    float:left;
}
.controlmenu .b-center .b-icon{
    background: url('../images/admin/startbutton-icon.gif')  0 0 no-repeat;
    width:23px;
    height:23px;
    margin-top:5px;
    float:left;
}
.controlmenu .b-center .b-text{
    color:#333333;
    font-weight: bolder;
    float:left;
    font-size: 20px;
    height:30px;
    line-height: 30px;
}
.controlmenu .b-right{
    background: url('../images/admin/startbutton.gif')  0px -30px no-repeat;
    width:10px;
    height:30px;
    float:left;
}

#pageBar {
    position: absolute;
    right:1%;
    bottom: 30px;
}

.pagination{
    margin:1% auto;
}

.error{
    color:red;
    margin:5px auto;
    font-weight:bolder;
}
.error-icon{
    margin-right:5px;
}

