<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="personal">
    <div class="header"></div>
    <div class="main">
        <div class="left"></div>
        <div class="right">
            <router-view ref="sub"></router-view>
        </div>
    </div>
    <dialog-widget ref="dialog"></dialog-widget>
</div>
</body>
<script type="text/template" id="dialogTemplate">
    <transition name="custom" enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
        <el-dialog :title="title" v-model="showDialog">
            <span v-if="!isComponent">{{content}}</span>
            <component v-if="isComponent" :is="currentView"></component>
            <div slot="footer" class="dialog-footer">
                <el-button v-if="showCancelButton" @click="cancelHandler">取 消</el-button>
                <el-button type="primary" v-if="showConfirmButton" @click="confirmHandler">确 定</el-button>
            </div>
        </el-dialog>
    </transition>
</script>
</html>