<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" type="text/css" href="/js/jPaginate/css/style.css" media="screen"/>
<script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/js/jPaginate/jquery.paginate.js"></script>
<script type="text/javascript" src="/js/public.js"></script>
<script type="text/javascript" src="script/view.js"></script>
<style type="text/css">
*{
	font-size: 12px;
	color:#333;
}
h1{
	font-size:20px;
}
html,body{
	overflow:hidden;
	margin:10px 10px;
}
ul{
	float:left;
	width:100%;
	margin:0px;
	padding:0px;
}
ul li{
	text-align:center;
	width:90%;
	list-style-type: none;
}
.content{
	clear:both;
	border-bottom:1px dotted #aaa;
	border-top:1px dotted #aaa;
	margin-top:20px;
	padding:5px;
	width:90%;
	text-align: left;
}
</style>
</head>
<body>
	<div style="width:700px;margin:0 auto;">
		<ul id="diary">
			<li id="title"></li>
			<li id="author"></li>
			<li id="fromAddress"></li>
			<li id="content" class="content" ></li>
		</ul>
	</div>
</body>
</html>