<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
   
<mapper namespace="common.base.mybatis.dao.BaseDao">
    <insert id="insert" parameterType="hashmap">
        ${sql}
    </insert>

	<select id="getAll" parameterType="string" resultType="hashmap">
    	select * from ${_parameter}
    </select>
    
    <delete id="deleteById" parameterType="hashmap">
    	delete from ${table} where id = #{id}
    </delete>
    
    <select id="getById" parameterType="hashmap" resultType="hashmap">
    	select * from ${table} where id = #{id}
    </select>
    
    <select id="paramSql" parameterType="java.lang.String" resultType="hashmap" >
    	${_parameter};
    </select>
</mapper>