.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus
	{
	background-color: #e7e7e7;
	color: #555;
	border-bottom: 2px solid green;
}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus{
    color: orange;
    background-color:lightgray;
}
nav .logo {
	width: 150px;
	height: 58px;
	margin-top: -20px;
}

nav .phone {
	color: red;
	font-size: 30px;
	font-weight: bolder;
}

nav .menu {
	float:right;
}

.main {
	margin: 75px auto 30px;
}

#advertisment {
	height: 550px;
}

.carousel-indicators .active{
	width:12px;
	height:12px;
	margin:0;
	background-color:gray;
}
.carousel-indicators li{
	border:1px solid gray;
}
#fancybox-close{
	right:-35px;
}
.footer {
	background-color: #878787;
	display: inline-block;
	color: white;
	width: 100%;
}
.footer ul{
	margin:0 auto;
	width:100%;
}
.footer ul li {
	list-style-type: none;
	line-height: 25px;
	color:#bcbcbc;
	text-align:center;
}