<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/js/date/WdatePicker.js"></script>
<script type="text/javascript" src="/js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/js/public.js"></script>
<script type="text/javascript" src="script/add.js"></script>
<style type="text/css">
html,body{
	overflow:hidden;
	margin:10px 10px;
}
input[type=text],textarea{
	border:1px solid #33ccff;
	height:20px;
}
.div_title{
	float:left;
	width:10%;
	margin-top:10px;
	text-align:right;
}
.div_content{
	float:left;
	width:85%;
	margin-top:10px;
}
.div_content input{
	width:740px;
}
</style>
</head>
<body>
	<form id="form1">
		<input type="hidden" id="englishId" name="id"/>
		<input type="hidden" id="mp3Url" name="mp3Url"/>
		<input type="hidden" id="orgName" name="orginalName"/>
		<div style="width:900px;margin:0 auto;">
			<div style="width:100%;height:30px;">
				<div class="div_title">标题：</div>
				<div class="div_content">
					<input type="text"  name="title" id="title"/>
				</div>
				<div class="div_title">MP3素材：</div>
				<div class="div_content">
					<span id="fileUrl"></span>
					<input type="button" id="uploadMP3" value="上传" style="width:100px;"/>
				</div>
				<div class="div_title">正文：</div>
				<div class="div_content">
					<textarea name="text" id="text" ></textarea>
				</div>
			</div>
			<div style="margin-left:45%;margin-top:55%;">
				<input type="button"  value="确定" id="saveBtn"/>&emsp;<input type="reset" value="重写" />
			</div>
		</div>
		<textarea id="MP3Upload"></textarea>
	</form>
</body>
</html>