.title {
	font-size: 30px;
	color: gray;
	margin: 0 auto;
	padding-bottom: 5px;
	max-width: 1000px;
}

.title .speartor {
	border-top: 1px dashed #6e6e6e;
	width: 40%;
	margin-top: 3%;
}

.title .leftline {
	float: left;
}

.title .rightline {
	float: right;
}

.title span {
	display: block;
	float: left;
	margin: 10px 0 10px 5px;
	width: 19%;
	background-color: #01CD6A;
	color: white;
	text-align: center;
	font-weight: bolder;
	border-radius: 5px;
}

.content {
	max-width: 1000px;
	margin: 10px auto 30px auto;
	line-height: 30px;
	clear: both;
}

.content .pic {
	display: block;
	width: 200px;
	height: 200px;
	margin: 20px;
}

.content .text {
	float: right;
	width: 75%;
	text-indent: 1cm;
}

.content .ip {
	float: left;
}

.content .cp {
	float: right;
}

.content .sp {
	clear: both;
	margin: 0 auto;
}

.introduction {
	background-color: #fff;
}

.culture {
	background-color: mintcream;
}

.speak {
	background: url("/images/front/company/bg-pattern.gif") repeat scroll 0
		0;
}