.team {
	width: 1000px;
	margin: 0 auto;
}

.main {
	width: 100%;
	display: inline-block;
	border-bottom: 1px dashed gray;
}

.main .pic {
	float: left;
	width: 20%;
	text-align: center;
	margin: 25px auto;
}

.main .pic img {
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto 10px auto;
}

.main .pic span {
	display: block;
}

.main .text {
	float: right;
	width: 75%;
	float: right;
	margin: 20px auto;
}