<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
   
<mapper namespace="com.anan.plate.diary.domain.Diary">
  
    <insert id="insert" parameterType="Diary">  
       insert into t_diary(date,week,weather,content,plainText,updateUser,updateTime,createUser,createTime)
        			values(#{date},#{week},#{weather},#{content},#{plainText},0,now(),0,now())  
    </insert>
    
    <update id="update" parameterType="Diary">  
       update t_diary set date = #{date},
       					  week = #{week},
       					  weather = #{weather},
       					  content = #{content},
       					  plainText = #{plainText},
       					  updateUser = #{updateUser},
       					  updateTime = now()
       where id = #{id}  
    </update>
    
    <delete id="deleteById" parameterType="long">
    	delete from t_diary where id = #{id}
    </delete>
    
    <delete id="delete" parameterType="string">
    	delete from t_diary where id in
    	<foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
		 #{item}  
		</foreach> 
    </delete>
    
    <select id="getById" parameterType="long" resultType="Diary">
    	select * from t_diary where id = #{id}
    </select>
    
    <select id="getAll" resultType="Diary">
    	select * from t_diary
    </select>
    
    <select id="getSome" parameterType="common.bo.QueryObject" resultType="Diary">
    	select * from t_diary
    	limit #{start},#{end}
    </select>
    
    <select id="getCount" parameterType="common.bo.QueryObject" resultType="integer">
    	select count(*) from t_diary;
    </select>
</mapper>